@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  @font-face {
    font-family: "circular-web";
    src: url("/fonts/circularweb-book.woff2") format("woff2");
  }

  @font-face {
    font-family: "general";
    src: url("/fonts/general.woff2") format("woff2");
  }

  @font-face {
    font-family: "robert-medium";
    src: url("/fonts/robert-medium.woff2") format("woff2");
  }

  @font-face {
    font-family: "robert-regular";
    src: url("/fonts/robert-regular.woff2") format("woff2");
  }

  @font-face {
    font-family: "zentry";
    src: url("/fonts/zentry-regular.woff2") format("woff2");
  }
}
@layer utilities{
  .flex-center{
    @apply flex justify-center items-center
  }
  .animated-title{
    @apply flex flex-col gap-1 text-7xl uppercase leading-[.8] text-white sm:px-32 md:text-[6rem]

  }
.animated-word {
  @apply special-font font-zentry font-black opacity-0;
  perspective: 600px;
  transform: translate3d(10px, 51px, -60px) rotateY(60deg) rotateX(-40deg);
  transform-origin: 50% 50% -150px !important;
  will-change: opacity, transform;
}
.grid-2{
  @apply relative  lg:col-span-1 lg:row-span-1 overflow-hidden rounded-md transition-transform duration-300 ease-out 
}
.nav-hover-btn{
  @apply relative ms-10 font-general text-xs uppercase text-blue-50 after:absolute after:-bottom-0.5 after:left-0 after:h-[2px] after:w-0 after:bg-blue-50 after:transition-all after:duration-300 hover:after:w-full
}
.story-img-mask {
  @apply absolute left-1/2 -translate-x-1/2 top-0 lg:-top-20 size-full overflow-hidden md:size-4/5;
  clip-path: polygon(4% 0, 83% 21%, 100% 73%, 0% 100%);
}

.story-img-content {
  /* @apply absolute w-full opacity-100 left-10 top-16 md:left-0 md:top-10 lg:left-[-300px] lg:top-[-100px]; */
  transform: translate3d(0, 0, 0) rotateX(0) rotateY(0) rotateZ(0) scale(1);
}
}
.special-font b{
  font-family: "zentry";
  font-feature-settings: "ss01" on;
}